{% extends 'base.html' %}
{% block content %}
<!--Testimonios de cometarios-->
<section class="engine"><a href="">site maker</a></section><section class="testimonials4 cid-rDBPEO4kX3" id="testimonials4-f">

  <div class="container">
    <h2 class="pb-3 mbr-fonts-style mbr-white align-center display-2"><br>Comentarios de choferes</h2>
    
    <div class="col-md-10 testimonials-container"> 
      <!--1-->
    <div class="testimonials-item">
        <div class="user row">
          <div class="col-lg-3 col-md-4">
            <div class="user_image">
              <img src="assets/images/face2.jpg">
            </div>
          </div>
          <div class="testimonials-caption col-lg-9 col-md-8">
            <div class="user_text ">
              <p class="mbr-fonts-style  display-7">
                 <em>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nostrum, quos voluptas fugiat blanditiis, temporibus expedita cumque doloribus ea, officiis consequuntur repellat minus ad veritatis? Facere similique accusamus, accusantium sunt!"</em>
              </p>
            </div>
            <div class="user_name mbr-bold mbr-fonts-style align-left pt-3 display-7">Nombre conductor</div>
            <!-- star -->
            <div class="star-rating">   <!--assets/theme/css/rating-stars.css-->
            <a href="#">&#9733;</a>
            <a href="#">&#9733;</a>
            <a href="#">&#9733;</a>
            <a href="#">&#9733;</a>
            <a href="#">&#9733;</a>
          </div>

           <!--  <div class="star-ratings-sprite"><span style="width:52%" class="star-ratings-sprite-rating"></span></div>
          -->

          </div>
        </div>
      </div>
      <!--2-->
      <div class="testimonials-item">
        <div class="user row">
          <div class="col-lg-3 col-md-4">
            <div class="user_image">
              <img src="assets/images/face1.jpg">
            </div>
          </div>
          <div class="testimonials-caption col-lg-9 col-md-8">
            <div class="user_text">
              <p class="mbr-fonts-style  display-7">
                 <em>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nostrum, quos voluptas fugiat blanditiis, temporibus expedita cumque doloribus ea, officiis consequuntur repellat minus ad veritatis? Facere similique accusamus, accusantium sunt!"</em>
              </p>
            </div>
            <div class="user_name mbr-bold mbr-fonts-style align-left pt-3 display-7">Nombre conductor</div>
             <!-- star -->
             <div class="star-rating">
            <a href="#">&#9733;</a>
            <a href="#">&#9733;</a>
            <a href="#">&#9733;</a>
            <a href="#">&#9733;</a>
            <a href="#">&#9733;</a>
          </div>
          



          </div>
        </div>
      </div></div>
  </div>
</section>

<!--barra de progreso o para porcentaje de valoracion-->
<section class="progress-bars3 cid-rDBR5QsDoL" id="progress-bars3-g">
 

    <div class="container">
        <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">Valoración promedio</h2>

        
    
        <div class="media-container-row pt-5 mt-2">
            <div class="card p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress1" role="progressbar" data-goal="50">
                        <p class="pie_progress__number mbr-fonts-style display-5"></p>
                    </div>
                </div> 
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-fonts-style display-5">
                        Amenity
                    </h4>
                </div>                 
            </div>

            <div class="card p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress2" role="progressbar" data-goal="60">
                        <p class="pie_progress__number mbr-fonts-style display-5"></p>
                    </div>
                </div> 
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-fonts-style display-5">
                        Publick transport
                    </h4>
                </div>                 
            </div>

            <div class="card p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress3" role="progressbar" data-goal="70">
                        <p class="pie_progress__number mbr-fonts-style display-5"></p>
                    </div>
                </div> 
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-fonts-style display-5">
                        Nightlife
                    </h4>
                </div>                 
            </div>

            <div class="card p-3 align-center">
                <div class="wrap">
                    <div class="pie_progress progress4" role="progressbar" data-goal="80">
                        <p class="pie_progress__number mbr-fonts-style display-5"></p>
                    </div>
                </div> 
                <div class="mbr-crt-title pt-3">
                    <h4 class="card-title py-2 mbr-fonts-style display-5">
                        Safety
                    </h4>
                </div>                 
            </div>
          </div>
    </div>
</section>
{% endblock %}