{% extends base_template_name %}
{% load static %}
{% block content %}
<section class="engine"><a href=""></a></section><section class="services3 cid-rDw8gf4TDm" id="services3-5">
    
   
    <div class="container">
        <div class="row">
            <div class="title pb-5 col-12">
                <h2 class="align-left mbr-fonts-style display-1">
                    Comentarios</h2>
                
            </div>
                            
</section>

<style>
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
</head>
<body>

<h2 style="text-align:center"></h2>

<div class="card">

  

  <form method="post" action="/getdata/">
    <table>
        <tr>
            <td>Patente:</td>
            <td><input type="text" name="patente"/></td>
        </tr>
        
        <tr>
            <td>Telefono:</td>
            <td><input type="text" name="phone"/></td>
        </tr>
         <tr>
            <td>Comentario:</td>
            <td><input type="text" name="comment"/></td>
        </tr>
        <tr>
            <td>
 
            </td>
            
        </tr>
    </table>
</form>
  <p><button>Enviar</button></p>
</div>




{% endblock %} 