{% extends base_template_name %}
{% block content %}
<section class="engine"><a href="">free amp template</a></section><section class="header6 cid-rDBUIeG48A mbr-fullscreen mbr-parallax-background" id="header6-h">

	 <!-- background esta en carpeta mobirise/css --    .cid-rDBUIeG48A {
  background-image: url("../../../assets/images/background4.jpg"); -->

      <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
    </div>
    
    <!--Overlay-->
    
    <!--Container-->
    <div class="container">
    	<form method="post">
    	 {% csrf_token %}
            {{form.as_p}}
            <button type="submit" name="submit" class="btn">Enviar</button>
        </form>
    </div>
</section>
{% endblock %}