{% extends base_template_name %}
{% block content %}

<p>
  
</p>
<section class="engine"><a href="">free amp template</a></section><section class="header6 cid-rDBUIeG48A mbr-fullscreen mbr-parallax-background" id="header6-h">

	 <!-- background esta en carpeta mobirise/css --    .cid-rDBUIeG48A {
  background-image: url("../../../assets/images/background4.jpg"); -->

      <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);">
    </div>

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10 align center">
                <div class = "btn-default">
                  <div class="search">
                    <form class="search-form" action = "{% url 'buscar_linea' %}" method = 'get'>
                      <input type="text" name = "q" placeholder="Ingresa una línea de micros. Ej: Las Galaxias">
                      <input type="submit" value="Buscar">
                    </form>
                  </div>
                  <button type = "button" href = ""class="btn btn-primary">Búsca tu micro por patente</button>
                  <button type = "button" class="btn btn-primary">Líneas de Micros</button>
                  <button type = "button" class="btn btn-primary">Líneas de Micros</button>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}