{% extends base_template_name %}
{% block content %}
<section class="engine"><a href=""></a></section><section class="services3 cid-rDw8gf4TDm" id="services3-5">
    
    <!--Overlay-->
    
    <!--Container-->
    <div class="container">
        <div class="row">
            <!--Titles-->
            <div class="title pb-5 col-12">
                <h2 class="align-left mbr-fonts-style display-1">
                    Lista de lineas de micros</h2>
                
            </div>
            
            <!--Card-1-->
            <div class="card px-3 col-12 col-md-6">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-1">
                            <h4 class="card-title mbr-fonts-style display-5">
                                Tipo de linea:</h4>
                            <p class="mbr-text card-title cost mbr-fonts-style m-0 display-5"></p>
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, odit?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-2-->
            <div class="card px-3 col-12 col-md-6">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">Tipo de linea:</h4>
                            <p class="mbr-text card-title cost mbr-fonts-style m-0 display-5"></p>
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, odit?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-3-->
            <div class="card px-3 col-12 col-md-6">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">Tipo de linea:</h4>
                            <p class="mbr-text card-title cost mbr-fonts-style m-0 display-5"></p>
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, odit?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-4-->
            <div class="card px-3 col-12 col-md-6">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">Tipo de linea:</h4>
                            <p class="mbr-text card-title cost mbr-fonts-style m-0 display-5"></p>
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, odit?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-5-->
            <div class="card px-3 col-12 col-md-6">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">Tipo de linea:</h4>
                            <p class="mbr-text card-title cost mbr-fonts-style m-0 display-5"></p>
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, odit?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-6-->
            <div class="card px-3 col-12 col-md-6">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-3">
                            <h4 class="card-title mbr-fonts-style display-5">Tipo de linea:</h4>
                            <p class="mbr-text card-title cost mbr-fonts-style m-0 display-5"></p>
                        </div>
                        <div class="bottom-line">
                            <p class="mbr-text mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus, odit?
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Card-7-->
            
            <!--Card-8-->
            
            <!--Card-9-->
            
            <!--Card-10-->
            
            <!--Card-11-->
            
            <!--Card-12-->
            
        </div>
    </div>
</section>
{% endblock %}