{% extends 'base.html' %}
{% block content %}
<section class="engine"><a href=""></a></section><section class="services3 cid-rDw8gf4TDm" id="services3-5">
    
    <!--Overlay-->
    
    <!--Container-->
    <div class="container">
        <div class="row">
            <!--Titles-->
            <div class="title pb-5 col-12">
                <h2 class="align-left mbr-fonts-style display-1">
                    Tu Opinion</h2>
                
            </div>
            
            <!--Card-1-->
            <div class="card px-3 col-12 col-md-6">
                <div class="card-wrapper media-container-row media-container-row">
                    <div class="card-box">
                        <div class="top-line pb-1">

			<form method="post" action="/getdata/">
			    <table>
			        <tr>
			            <td>Conductor</td>
			            <td><strong>{{ name }}</strong></td>
			        </tr>
			        <tr>
			            <td>Tu Email</td>
			            <td><strong>{{ email }}</strong></td>
			        </tr>
			        <tr>
			            <td>Tu Telefono</td>
			            <td><strong>{{ phone }}</strong></td>
			        </tr>
			        <tr>
			            <td>Tu Comentario</td>
			            <td><strong>{{ comment }}</strong></td>
			        </tr>
			    </table>
			</form>
</section>
{% endblock %}